<div id="<%= dom_id like %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Identifier:</strong>
    <%= like.identifier %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Song:</strong>
    <%= like.song_id %>
  </div>
</div>
