<button data-action="theme#toggle">
  <div class="flex gap-1 rounded-full border bg-black dark:bg-white">
    <div class="flex size-8 items-center justify-center rounded-full bg-white dark:bg-none dark:text-black">
      <%= icon "brightness-high-fill" %>
    </div>
    <div class="flex size-8 items-center justify-center rounded-full text-white dark:bg-black">
      <%= icon "moon-stars-fill" %>
    </div>
  </div>
</button>
